.TrollboxContainer * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.TrollboxContainer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  max-width: 300px;
  color: #000;
  background: #fff;
}

.TrollboxHeader {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 0.2em;
}

.TrollboxMessages {
  display: block;
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #000;
}

.TrollboxMessagesList {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.TrollboxMessagesList li {
  line-height: 1.2;
}

.TrollboxMessage {
  display: block;
  width: 100%;
}

.TrollboxForm {
  padding-top: 0.2em;
  display: block;
  width: 100%;
}

.TrollboxInput {
  display: block;
  width: 100%;
  border: 1px solid #000;
  padding: 0.3em;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.TrollboxInput:focus {
  outline: 0;
}
